@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Raleway:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-custom-background text-white;
  }

  *::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-custom-btn rounded-full;
  }

  main {
    @apply max-w-7xl mx-auto relative flex justify-center;
  }

  section {
    @apply px-8 py-2 relative w-full;
  }

  h1,
  h2,
  h3 {
    @apply font-raleway font-bold;
  }

  h1 {
    @apply text-[2.5rem] sm:text-[3rem];
  }

  h2 {
    @apply text-[2rem] sm:text-[2.5rem] md:text-[2.5rem];
  }

  h3 {
    @apply text-[1.5rem] sm:text-[2rem] md:text-[2.5rem]  lg:text-[2.75rem];
  }

  p,
  a {
    @apply font-quicksand font-extralight text-[0.875rem] xs:text-[1.25rem] md:text-[1.5rem] lg:text-[1.6rem] xl:text-[1.8rem] leading-4 xs:leading-5 sm:leading-6 lg:leading-8;
  }

  button {
    @apply font-quicksand;
  }
}

@layer components {
  .button {
    @apply bg-custom-btn rounded-sm text-white;
  }

  .social-icon {
    @apply flex justify-center items-center text-xl text-center mr-2 lg:text-2xl xl:text-3xl xl:mt-0 sm:mt-1.5 mb-auto;
  }

  .step-text {
    @apply text-base md:text-lg lg:text-xl w-full;
  }
}
